* {
    /* Font */
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
    font-family: 'Work Sans', sans-serif;

    margin: 0;
}

body {
    width: 1920px;
    height: 100px;
    margin: 0 auto;
}

.primary-btn {
    height: 64px;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
}

/* Nav styles */
.header {
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-title {
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-items {
    margin-top: 60px;
}

.nav-items ul {
    display: flex;
    gap: 50px;
    align-items: center;

}

.nav-items ul li {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* Banner Styles */
.banner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;

}

.banner-content {
    width: 862px;
    margin: 0 auto;

}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-bottom: 30px;
}

.banner-btn {
    text-align: center;
    margin-bottom: 50px;
}

.banner-images img {
    text-align: center;
    width: 1440px;
    height: 700px;
    margin: 0 240px;
}

/* Quick Features styles */

.quick-features {
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.quick-features-container {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.quick-features-container>div {
    flex: 1;
}

.quick-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.quick-features-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 25px;
}

.quick-features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

/* Second features styles */
.second-features-section {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.second-features-container {
    display: flex;
    gap: 50px;

}

.second-features-content {
    margin-top: 40px;
}

.second-features-title h1 {
    font-weight: bold;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    width: 468px;
}

.second-features-description p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.second-features-list-item {
    display: flex;
    flex-direction: column;
    padding: 30px 42px 30px 30px;
    gap: 50px;

}

.features-list-item {
    box-shadow: 0px 5px 10px 0px rgba(194, 191, 191, 0.5);
    padding: 30px 42px 30px 30px;
}

.features-list-item h1 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.list-item-description p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.second-features-img {
    position: relative;

}

.second-features-img button {
    position: absolute;
    left: -5%;
    top: 78%;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 45px 42px;
    height: 200px;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
}

/* Project Section Style */
.project-section {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.project-title {
    margin-bottom: 50px;
}

.project-title h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #131313;
}

.project-title h2 {
    color: #424242;
}

.project-gallary {
    display: flex;
    justify-content: space-evenly;

}

.project-images {
    transition: transform .4s;
}

.project-images:hover {
    transform: scale(1.25);
    opacity: 0.5;

}

.project-gallary img {
    border-radius: 10px;
}

/* Fact section Styles */
.fact-section {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.fact-container .fact-title h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}

.fact-container .fact-description p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 542px;
    margin-bottom: 100px;
}

.fact-item-container {
    display: flex;
    justify-content: space-around;

}

.fact-item-container .fact-item {
    border: 2px solid #FF900E;
    width: 180px;
    height: 150px;
    border-radius: 5px;
    padding: 50px;
    transition: width 2s, height 2s, transform 2s;
}

.fact-item-container .fact-item:hover {
    width: 200px;
    height: 170px;
    transform: rotate(360deg);
}

.fact-item-images {
    text-align: center;
}

.fact-item-container .fact-item img {
    display: block;
    height: 45px;
    width: 45px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.fact-item-container .fact-item h2 {
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}

.fact-item-description p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* sponspors section design */
.sponspors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 25px;
}

.sponspors-container p {
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: 542px;
    color: #727272;
    margin-bottom: 50px;
    text-align: center;
}

.sponspors-logo {
    display: flex;
    justify-content: space-evenly;
    margin: 130px 130px;
}

/* Footer section design */
.footer-section {
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    margin-bottom: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ==================================== Media Queries for small device ==================================*/

@media screen and (max-width: 576px) {

    body {
        width: auto;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        font-size: 2rem;
        text-align: center;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .banner-content {
        width: auto;
        height: auto;
    }

    .banner-title {
        font-size: 2em;
        text-align: center;
        padding: 20px;
    }

    .banner-description {
        padding: 20px;
    }

    .banner-images {
        padding: 10px;
    }

    .banner-images img {
        width: 100%;
        height: auto;
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 5px;

    }

    /* Quick geatures */
    .quick-features-container {
        flex-direction: column;
    }

    .quick-features {
        width: auto;
    }

    .quick-features-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-features-title {
        font-size: 2em;
        text-align: center;
    }

    .quick-features-description {
        padding: 20px;
    }

    /* Fact section */

    .quick-features-btn {
        text-align: center;
    }

    .fact-section {
        width: auto;
        padding: 20px;
    }

    .fact-item-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .fact-container .fact-description p {
        width: auto;
    }

    /* Second feature */
    .second-features-section {
        width: auto;
        margin-bottom: 150px;
    }

    .second-features-container {
        flex-direction: column;
    }

    .second-features-title h1 {
        width: auto;
        margin: 20px;
        font-size: 2em;
    }

    .second-features-description {
        width: auto;
        padding: 20px;
    }

    .second-features-img img {
        width: 90%;
        height: auto;
        padding: 20px;
        border-radius: 5px;
        margin: 0;
    }

    .second-features-img button {

        left: 32%;
        text-align: center;
        margin: 0 auto;
        top: 100%;
        font-weight: 700;
        font-size: 1em;
        color: #FFFFFF;
        padding: 30px 30px;
        height: 75px;
        background-color: #FF900E;
        border: 0;
        border-radius: 5px;
    }

    .second-features-img-btn {
        font-size: 0.5em !important;
    }

    /* Project Section */
    .project-section {
        width: auto;
        padding: 20px;
    }

    .project-gallary {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .project-gallary img {
        width: 95%;
    }

    /* Sponsor Section */
    .sponspors-section {
        width: auto;
    }

    .sponspors-container p {
        width: auto;
    }

    .sponspors-logo {
        flex-direction: column;
        width: auto;
        gap: 30px;
    }

    /* Footer Section */
    .footer-section {
        width: auto;
        font-size: 0.75em;
        text-align: center;
    }

}



/* ================================== Media Queries for medium device ====================================== */
@media screen and (min-width: 577px) and (max-width: 768px) {

    body {
        width: auto;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        font-size: 2rem;
        text-align: center;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .banner-content {
        width: auto;
        height: auto;
    }

    .banner-title {
        font-size: 2em;
        text-align: center;
        padding: 20px;
    }

    .banner-description {
        padding: 20px;
    }

    .banner-images {
        padding: 10px;
    }

    .banner-images img {
        width: 100%;
        height: auto;
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 5px;

    }

    /* Quick geatures */
    .quick-features-container {
        flex-direction: column;
    }

    .quick-features {
        width: auto;
    }

    .quick-features-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .quick-features-title {
        font-size: 2em;
        text-align: center;
    }

    .quick-features-description {
        padding: 20px;
    }

    .quick-features-btn {
        text-align: center;
    }

    /* fact section design */

    .fact-section {
        width: auto;
        padding: 20px;
    }

    .fact-item-container {
        /* flex-direction: column;
        align-items: center; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .fact-container .fact-description p {
        width: auto;
    }

    /* Second feature */
    .second-features-section {
        width: auto;
        margin-bottom: 200px;
    }

    .second-features-container {
        flex-direction: column;
    }

    .second-features-title h1 {
        width: auto;
        margin: 20px;
        font-size: 2em;
    }

    .second-features-description {
        width: auto;
        padding: 20px;
    }

    .second-features-img img {
        width: 94%;
        height: auto;
        padding: 20px;
        border-radius: 5px;
        margin: 0;
    }

    .second-features-img button {

        left: 40%;
        text-align: center;
        margin: 0 auto;
        top: 100%;
        font-weight: 700;
        font-size: 2em;
        color: #FFFFFF;
        padding: 30px 30px;
        height: 150px;
        background-color: #FF900E;
        border: 0;
        border-radius: 5px;
    }

    .second-features-img-btn {
        font-size: 0.5em !important;
    }

    /* Project Section */
    .project-section {
        width: auto;
        padding: 20px;
    }

    .project-gallary {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .project-gallary img {
        width: 100%;
    }

    /* Sponsor Section */
    .sponspors-section {
        width: auto;
    }

    .sponspors-container p {
        width: auto;
    }

    .sponspors-logo {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
        gap: 50px;
    }

    /* Footer Section */
    .footer-section {
        width: auto;
        font-size: 1em;
        text-align: center;
    }

}